.menu{
  font-size: 20px;
  border-color: rebeccapurple;
  border-right-style:solid;
  border-top-style:solid ;
  border-left-style:solid;
  font-family: sans-serif;
  display: flex; 
  justify-content: space-around;
  background-color: rgb(57, 170, 170);
  text-align: center;
}
.my-foto{
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  background-color:  rgb(57, 170, 170)ure;
}
.title{ 
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  background-color:  rgb(57, 170, 170); 
  font-size: larger; 
}
.contact{
  font-size: 20px;
  border-style:solid;
  border-color: rebeccapurple;
  text-align: center;
  font-family: sans-serif;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  background-color:  rgb(169, 206, 206);
}
h2{
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  background-color: rgb(57, 170, 170);
  transition: .3s;
}
.footer-box{
  font-size: 20px;
  border-color: rebeccapurple;
  border-right-style:solid;
  border-bottom-style:solid ;
  border-left-style:solid;
  justify-content: space-around;
  align-items: center;
  display: flex;  
  background-color: rgb(57, 170, 170);
}
main{
  font-size: 20px;
  border-color: rebeccapurple;
  border-right-style:solid;
  border-bottom-style:solid ;
  border-left-style:solid;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}