 .my-foto{
 margin-left:40%;
}
.title{
  margin-left: 40%;;
}
.contact{
  text-align: center;
}
.about-me{
  font-size: 24px; 
  text-align: center;
  background-color:yellow;
}
.phone-number{
  background-color: yellowgreen;
}
.email{
  background-color: yellowgreen;
}
